body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
    color: lightgrey;
}
.row {
    color: lightgrey;
}
/*/*Review Details View formatting  boo tables*/
.reviewLocation {
    font-weight: bold;  
    font-size: 25px;
}
.reviewTitle {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    
}
.thumbnail, .caption {
    text-align: center;
}

/*for the review fieldnames*/
.fieldNames {
    font-weight: bold;
    font-size: 18px;
}
.details{
    font-weight: normal;
}*/

/*Review view thumbnails*/
.thumbnail {
    background-color: lightgrey;
    text-align: center;
}

/*main page's image styling*/
.jumbotron {
    min-height: 350px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position: center center;
    background-image: url('JLAWatchtower.jpg');
    color:lightgrey;
    text-align: center;
}

.a /*WONT WORK*/ {
    color:lightgrey !important;
}

/*main page's text color and size*/
.ipsum {
    color: lightgrey;
    font-size: 14px;
}

/*Making thead buttons match the theme*/
.btn {
    background-color: darkgray;
    border-color:black;
    border-radius: 0px;
}
/*didn't like the hover color*/
.btn:hover {
    background-color: darkgrey;
    border-color: black;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
