@{
    ViewBag.Title = "Visit the DC Universe";
}
@*//This is the main landing page, so I added a background image to the jumbotron and themed things*@
<div class="row container-fluid">
    <div class="jumbotron">
        <h2 class="headline">Visit The DC Universe</h2>
        <p class="headline">Every man over the centuries, has looked up to the light and imagined climbing to freedom.</p>
    </div>

    <div>
        <p class="ipsum">Breathe in your fears. Face them. To conquer fear, you must become fear. You must bask in the fear of other men. And men fear most what they cannot see. You have to become a terrible thought. A wraith. You have to become an idea! Feel terror cloud your senses. Feel its power to distort. To control. And know that this power can be yours. Embrace your worst fear. Become one with the darkness.</p>
    </div>
</div>
